@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  transition: 0.3s;
  color: rgb(var(--foreground-rgb));
  font-family: 'Nunito-VariableFont_wght';
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Amita-Regular';
  src: url(../../public/fonts/Amita-Regular.eot);
  src: url(../../public/fonts/Amita-Regular.eot?#iefix) format('embedded-opentype'),
       url(../../public/fonts/Amita-Regular.otf) format('otf'),
       url(../../public/fonts/Amita-Regular.ttf) format('truetype'),
       url(../../public/fonts/Amita-Regular.woff) format('woff'),
       url(../../public/fonts/Amita-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito-VariableFont_wght';
  src: url(../../public/fonts//Nunito-VariableFont_wght.ttf) format('truetype');
}


/* Layout */
.layout.dark body {
  background: #222 !important;
  color: #fff;
}




.container {
  padding: 0 20px;
  margin: 0 auto;
}

.menus {
  position: fixed;
  left: -100%;
  /* left: 0; */
  top: 0;
  height: 100vh;
  width: calc(100vw - 100px);
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #061d3a;
  transition: 0.3s ease-out;
  padding: 60px 20px 20px;
}

.menus li a {
  font-size: 30px;
}

.menus:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #061d3ab0;
  opacity: 0;
  transition: 0.3s;
  top: 0;
  left: 0;
  visibility: hidden;
}

.menus.active:before {
  opacity: 1;
  visibility: visible;
}

.menus.active {
  left: 0 !important;
}

.menu_toggle {
  position: fixed;
  z-index: 10000;
  left: 20px;
  top: 20px;
}

.menu_hamberg {
  width: 38px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_hamberg span {
  width: 38px;
  height: 4px;
  background-color: #222;
  display: block;
  transition: 0.3s ease-out;
}

.dark .menu_hamberg span {
  background-color: #F1F0E8;
}

.menu_toggle.active .menu_hamberg span {
  background-color: #F1F0E8;
}

.dark .menu_toggle.active .menu_hamberg span {
  background-color: #222;
}

.menu_toggle.active .menu_hamberg span:nth-child(2) {
  opacity: 0;
}

.menu_toggle.active .menu_hamberg span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menu_toggle.active .menu_hamberg span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

@media(min-width: 768px) {
  .container {
    padding: 0 40px;
    max-width: 1800px;
  }

  .group-item:hover > img {
    opacity: 0;
  }

  .group-item:hover > div {
    opacity: 1;
  }

  .menus {
    position: static;
    flex-direction: row;
    width: 100%;
    height: initial;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
  }

  .menus li a {
    font-size: 16px;
  }

  .menus:before {
    content: none;
  }

  .menu_toggle {
    display: none;
  }

  .play_btn {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-out;
  }

  .video_present:hover .play_btn {
    opacity: 1;
    visibility: visible;
  }
}

.profile_image {
  object-position: 0 -85px;
}

.checkbox-label {
  background-color: #333;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark .checkbox-label {
  background-color: #888;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.dark .checkbox-label .ball {
  background-color: #333;
}


@media(min-width: 2100px) {
  .checkbox-label {
    width: 90px;
    height: 46px;
  }
  
  .checkbox-label .ball {
    width: 40px;
    height: 40px;
    left: 22px;
    top: 3px;
  }

  .checkbox-label .ball.light {
    transform: translateX(-17px) !important;
  }

  .checkbox-label svg {
    width: 25px;
  }
}


/* header */
.linked_items svg {
  transition: 0.3s;
}

.linked_items a:hover svg {
  fill: #02026d;
}

.dark .linked_items svg {
  fill: #fff;
}

.dark .linked_items a:hover svg {
  fill: #6ec0ff;
}

/* intro */
.first_text {
 color: #999;
 transition: 0.3s;
}

.dark .first_text {
  color: #555;
}

.homepage_stagin .bio_link {
  display: block;
}

.bio_link {
  display: none;
}

@media(min-width: 768px) {
  .bio_link {
    display: block;
  }
}

@media(min-height: 600px) and (min-width: 768px) {
  .homepage_stagin {
    max-height: 100vh;
    overflow: hidden;
  }

  .intro {
    margin-top: -150px;
  }
}

/* Menus */
.menu_items a {
  color: #fff;
}

.dark .menu_items a {
  color: #222;
}

.menu_items {
  background-color: #222;
  padding-top: 50px;
  transition: 0.3s;
}

.dark  .menu_items {
  background-color: #fff;
}

.menu_items.active {
  transform: translateX(0) !important;
}

@media(min-width: 768px) {
  .menu_items {
    background-color: transparent !important;
    padding-top: 0;
  }

  .menu_items a {
    background-color: #222;
  }
  
  .dark .menu_items a {
    background-color: #fff;
  }
}


/* Image text on hover */

@media(min-width: 768px) {
  .text-hover {
    background: #061d3a;
    color: #fff;
  }

  .dark .text-hover {
    background: #ebebeb;
    color: #061d3a;
  }
}